
@keyframes scale {
    from {
        transform: scale(0);
    }
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(-100%);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(100%);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
}

@keyframes newsAnimation {
    // 0% {
    //   transform: translateX(100%);
    // }
    to {
        transform: translateX(-100%);
    }
}

@keyframes customLoadingBar {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes shake {
    from {
        transform: translateX(-10px) scale(0.95) rotate(20deg);
    }

    to {
        transform: translateX(10px) scale(1) rotate(-20deg);
    }
}
