$text-size-xs: 12px;
$text-size-sm: 14px;

$loding-color: #00adc4;
$background: #282828;
$background-dark: #1a1a1a;
$secondary-bg: #393939;
$secondary-bg-2: #424242;

$primary: #ffebeb;
$primary-75: #ffacac;
$primary-100: #ff8989;
$primary-200: #ff5757;
$primary-300: #ff3434;
$primary-400: #b32424;
$primary-500: #9c2020;
$primary-dark-red: #ad2323;

$secondary: #ebe8e8;

$secondary-75: #aba0a0;
$secondary-100: #887979;
$secondary-150: #444444;
$secondary-180: #333333;
$secondary-200: #553f3f;
$secondary-300: #321818;
$secondary-400: #231111;
$secondary-500: #1f0f0f;
$main-text-color: "#fff";
// $main-text-color2: "#90949c";
